@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url("reset.css");
@import url("variables.css");

/* Components */
@import url("components/status-bar.css");
@import url("components/nav-bar.css");
@import url("components/screen-header.css");
@import url("components/user-components.css");
@import url("components/badge.css");
@import url("components/icon-row.css");
@import url("components/alt-header.css");

/* Screens */
@import url("screens/login.css");
@import url("screens/friends.css");
@import url("screens/find.css");
@import url("screens/more.css");
@import url("screens/settings.css");
@import url("screens/chat.css");

body {
    color: #2e363e;
    font-family: 'Roboto Mono', monospace;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}