.alt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-top: 20px;
}

.alt-header__title {
    font-size: 32px;
    font-weight: 600;
}